# Makefile stuff
*.in
/config/
configure
aclocal.m4
/autom4te.cache/
Makefile
.deps/
.direnv
config.h
config.log
config.status
libtool
stamp-h1

# Build objects
*.a
*.o
*.la
*.lo
*.cc
*.hh
ui_*
moc_*
*.kdev4
build/
build-*/
*.exe

# Miscellaneous
*swp
changes
*.tokens

# Example files
*.beat
*.restart
*.restart.prev
*.state

# Test files
*.gr
*.sq
*.rewrite
tests/epsr/D2O-ReferenceData.q
tests/epsr/D2O-ReferenceData.r
tests/epsr/EPSR01-EstSQ-HW-HW.txt
tests/epsr/EPSR01-EstSQ-OW-HW.txt
tests/epsr/EPSR01-EstSQ-OW-OW.txt
tests/epsr/H2O-ReferenceData.q
tests/epsr/H2O-ReferenceData.r
tests/epsr/H2O-weighted-total.gr.broad
tests/epsr/H2OX-weighted-total.gr.broad
tests/epsr/HDO-ReferenceData.q
tests/epsr/HDO-ReferenceData.r

# Visual Studio
.vscode/
.vs/
