# Makefile stuff
*.in
/config/
configure
aclocal.m4
/autom4te.cache/
Makefile
.deps/
config.h
config.log
config.status
libtool
stamp-h1

# Build objects
*.a
*.o
*.la
*.lo
*.cc
*.hh
ui_*
moc_*
src/duq
src/monitor
Aten.desktop
.kdev4/
build/
src/gui/qcustomplot/tplotwidget.cpp

# Miscellaneous
*swp
changes
