parameters:
  - name: continuous
    default: false
    type: boolean

jobs:
  - job: 'release_gh'
    displayName: 'Create Versioned Release (GH)'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - checkout: self
        persistCredentials: true
      - bash: |
          wget https://raw.githubusercontent.com/disorderedmaterials/scripts/master/update-release
          chmod u+x ./update-release
        displayName: 'Install Prerequisites'
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          specificBuildWithTriggering: true
          downloadType: 'single'
          artifactName: 'linux-cli-artifacts'
        displayName: 'Download Linux CLI Artifacts'
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          specificBuildWithTriggering: true
          downloadType: 'single'
          artifactName: 'linux-gui-artifacts'
        displayName: 'Download Linux GUI Artifacts'
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          specificBuildWithTriggering: true
          downloadType: 'single'
          artifactName: 'linux-mpi-artifacts'
        displayName: 'Download Linux MPI Artifacts'
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          specificBuildWithTriggering: true
          downloadType: 'single'
          artifactName: 'singularity-cli-artifacts'
        displayName: 'Download Singularity CLI Artifacts'
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          specificBuildWithTriggering: true
          downloadType: 'single'
          artifactName: 'singularity-gui-artifacts'
        displayName: 'Download Singularity GUI Artifacts'
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          specificBuildWithTriggering: true
          downloadType: 'single'
          artifactName: 'singularity-mpi-artifacts'
        displayName: 'Download Singularity MPI Artifacts'
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          specificBuildWithTriggering: true
          downloadType: 'single'
          artifactName: 'osx-artifacts'
        displayName: 'Download OSX Artifacts'
      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          specificBuildWithTriggering: true
          downloadType: 'single'
          artifactName: 'windows-artifacts'
        displayName: 'Download Windows Artifacts'
      - bash: |
          set -ex
          VERSION=`grep "#define DISSOLVEVERSION" src/main/version.cpp | sed "s/.*\"\(.*\)\"/\1/g"`
          cd ./examples
          ./package-examples -v ${VERSION}
        displayName: 'Create Example Data Archives'
      - bash: |
          set -ex
          VERSION=`grep "#define DISSOLVEVERSION" src/main/version.cpp | sed "s/.*\"\(.*\)\"/\1/g"`
          ./update-release -r disorderedmaterials/dissolve -t ${VERSION} -n "${VERSION}" -f ReleaseNotes.md $(System.ArtifactsDirectory)/linux-*-artifacts/* $(System.ArtifactsDirectory)/singularity-*-artifacts/* $(System.ArtifactsDirectory)/windows-artifacts/*.exe $(System.ArtifactsDirectory)/windows-artifacts/*.zip $(System.ArtifactsDirectory)/osx-artifacts/*dmg examples/*zip examples/*.tar.gz
        condition: eq('${{ parameters.continuous }}', false)
        env:
          GITHUB_TOKEN: $(REPO_SECRET)
        displayName: 'Create Versioned Release (GitHub)'
      - bash: |
          set -ex
          SHORTHASH=`git rev-parse --short HEAD`
          DATE=`date`
          VERSION=`grep "#define DISSOLVEVERSION" src/main/version.cpp | sed "s/.*\"\(.*\)\"/\1/g"`
          ./update-release -r disorderedmaterials/dissolve -t continuous -n "Continuous Build (${VERSION} @ ${SHORTHASH})" -b "Continuous release from current \`develop\` branch at ${SHORTHASH}. Built ${DATE}." -p -e -u $(System.ArtifactsDirectory)/linux-*-artifacts/* $(System.ArtifactsDirectory)/singularity-*-artifacts/* $(System.ArtifactsDirectory)/windows-artifacts/*.exe $(System.ArtifactsDirectory)/windows-artifacts/*.zip $(System.ArtifactsDirectory)/osx-artifacts/*dmg examples/*zip examples/*.tar.gz
        condition: eq('${{ parameters.continuous }}', true)
        env:
          GITHUB_TOKEN: $(REPO_SECRET)
        displayName: 'Create Release (GitHub)'
      - bash: |
          set -ex
          ./ci/scripts/list-releases -r disorderedmaterials/dissolve -u -v $(Build.SourceBranchName)
        condition: eq('${{ parameters.continuous }}', false)
        env:
          GITHUB_TOKEN: $(REPO_SECRET)
        displayName: 'Update Web Release Info'
