stages:
  - stage: "Package"
    displayName: "Packaging"
    jobs:
      - job: "linux_static"
        displayName: "Ubuntu, Threads, CLI/GUI, Executable"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - checkout: self
            fetchDepth: 1
          - template: set-short-hash.yml
          - template: build-linux.yml
            parameters:
              export: true
              exportSingularity: false
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "packages/"
              ArtifactName: "linux-gui-artifacts"
            displayName: "Publish Linux GUI Artifacts"
      - job: "linux_singularity"
        displayName: "Ubuntu, Threads, CLI/GUI, Singularity"
        timeoutInMinutes: 120
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - checkout: self
            fetchDepth: 1
          - template: set-short-hash.yml
          - template: build-linux.yml
            parameters:
              export: true
              exportExe: false
              exportSingularity: true
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "singularity/"
              ArtifactName: "singularity-gui-artifacts"
            displayName: "Publish Linux GUI Singularity"
      - job: "linux_serial"
        displayName: "Ubuntu, Serial, CLI, Exe"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - checkout: self
            fetchDepth: 1
          - template: set-short-hash.yml
          - template: build-linux.yml
            parameters:
              package: "dissolve"
              docker: "docker"
              singularity: "singularity"
              export: true
              exportExe: true
              exportSingularity: false
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "packages/"
              ArtifactName: "linux-cli-artifacts"
            displayName: "Publish Linux CLI Artifacts"
      - job: "linux_serial_singularity"
        displayName: "Ubuntu, Serial, CLI, Singularity"
        timeoutInMinutes: 120
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - checkout: self
            fetchDepth: 1
          - template: set-short-hash.yml
          - template: build-linux.yml
            parameters:
              package: "dissolve"
              docker: "docker"
              singularity: "singularity"
              export: true
              exportExe: false
              exportSingularity: true
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "singularity/"
              ArtifactName: "singularity-cli-artifacts"
            displayName: "Publish Linux CLI Singularity"
      - job: "linux_mpi"
        displayName: "Ubuntu, MPI, CLI, Exe"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - checkout: self
            fetchDepth: 1
          - template: set-short-hash.yml
          - template: build-linux.yml
            parameters:
              package: "dissolve-mpi"
              docker: "docker-mpi"
              singularity: "singularity-mpi"
              export: true
              exportExe: true
              exportSingularity: false
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "packages/"
              ArtifactName: "linux-mpi-artifacts"
            displayName: "Publish Linux MPI Artifacts"
      - job: "linux_mpi_singularity"
        displayName: "Ubuntu, MPI, CLI, Singularity"
        timeoutInMinutes: 120
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - checkout: self
            fetchDepth: 1
          - template: set-short-hash.yml
          - template: build-linux.yml
            parameters:
              package: "dissolve-mpi"
              docker: "docker-mpi"
              singularity: "singularity-mpi"
              export: true
              exportExe: false
              exportSingularity: true
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "singularity/"
              ArtifactName: "singularity-mpi-artifacts"
            displayName: "Publish Linux MPI Singularity"
