parameters:
  - name: qtver
    default: 513

steps:
  - bash: |
      set -ex
      ci/scripts/prep-appimage -a Dissolve -v continuous -b build/bin/dissolve
      ci/scripts/prep-appimage -a Dissolve-GUI -v continuous -b build/bin/dissolve-gui
    displayName: 'Prepare AppDirs'
  - bash: |
      set -ex
      echo -e "\nRetrieving linuxdeploy...\n"
      wget -q https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage -O linuxdeploy.AppImage
      echo -e "\nRetrieving qt plugin for linuxdeploy...\n"
      wget https://github.com/linuxdeploy/linuxdeploy-plugin-qt/releases/download/continuous/linuxdeploy-plugin-qt-x86_64.AppImage
      chmod u+x ./linuxdeploy*.AppImage
    displayName: 'Download linuxdeploy Tools'
  - bash: |
      set -ex
      # Set environment vars to locate Qt
      QT_BASE_DIR="/opt/qt${{ parameters.qtver }}"
      export QTDIR=$QT_BASE_DIR
      export PATH=$QT_BASE_DIR/bin:$PATH
      # Extract the version from the source
      export VERSION=`grep "#define DISSOLVEVERSION" src/main/version.cpp | sed "s/.*\"\(.*\)\"/\1/g"`
      # Run on the targets
      ./linuxdeploy.AppImage --appdir Dissolve-continuous.AppDir --output appimage
      ./linuxdeploy.AppImage --appdir Dissolve-GUI-continuous.AppDir --plugin qt --output appimage
    displayName: 'Create AppImages'
  - bash: |
      set -ex
      mkdir packages
      mv Dissolve-*-x86_64.AppImage packages
    displayName: 'Move Artifacts'
