[Desktop Entry]
Version=1.0
Comment=Dissolve GUI - Potential-based refinement of total scattering data
Exec=dissolve-gui %f
GenericName=DissolveGUI
Icon=DissolveGUI
Name=DissolveGUI
StartupNotify=false
Terminal=false
Type=Application
Categories=Education;Chemistry;Physics;
X-SuSE-translate=false
