[Desktop Entry]
Version=1.0
Comment=Dissolve - Potential-based refinement of total scattering data
Exec=dissolve %f
GenericName=Dissolve
Icon=Dissolve
Name=Dissolve
StartupNotify=false
Terminal=false
Type=Application
Categories=Education;Chemistry;Physics;
X-SuSE-translate=false
