[Desktop Entry]
Version=0.4.1
Encoding=UTF-8
Comment=Dissolve - Potential-based refinement of neutron scattering data
Exec=dissolve-gui %f
GenericName=Dissolve
Icon=dissolve
Name=Dissolve
StartupNotify=false
Terminal=0
Type=Application
Categories=Education;Chemistry;Physics;
X-SuSE-translate=false
