+++
title = "Dissolve"
linkTitle = "Home"

+++

{{< blocks/cover title="Dissolve" image_anchor="top" height="min">}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/userguide" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/projectdissolve/dissolve">
		Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Structure Refinement for Scattering Data</p>
	{{< blocks/link-down color="info" >}}
</div>

{{< /blocks/cover >}}
{{% blocks/lead color="primary" %}}
Dissolve is a simulation tool for the interrogation of neutron scattering data, typically total neutron scattering data. It builds on the techniques established in the Empirical Potential Structure Refinement (EPSR) method by Soper. Dissolve is in heavy ongoing development, and as such the code here is rather volatile. The develop branch should always contain a compilable, working version however.
{{% /blocks/lead %}}

<a name="downloads">
{{< blocks/section color="white">}}
{{% blocks/feature icon=" fab fa-apple" title="Mac OS" %}}
[Last Release](https://github.com/projectdissolve/dissolve/releases/download/0.6.1/Dissolve-GUI-0.6.1-Catalina.dmg)

[Continuous Build](https://github.com/projectdissolve/dissolve/releases/download/continuous/Dissolve-GUI-VERSION-SHORTHASH-Catalina.dmg)
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-linux" title="Linux" %}}
[Last Release](https://github.com/projectdissolve/dissolve/releases/download/0.6.1/Dissolve-GUI-0.6.1-x86_64.AppImage)

[Continuous Build](https://github.com/projectdissolve/dissolve/releases/download/continuous/Dissolve-GUI-VERSION-SHORTHASH-x86_64.AppImage)

{{% /blocks/feature %}}
{{% blocks/feature icon="fab fa-windows" title="Windows" %}}
[Last Release](https://github.com/projectdissolve/dissolve/releases/download/0.6.1/Dissolve-GUI-0.6.1-Win64.zip)

[Continuous Build](https://github.com/projectdissolve/dissolve/releases/download/continuous/Dissolve-GUI-VERSION-SHORTHASH-Win64.zip)
{{% /blocks/feature %}}
{{< /blocks/section >}}
</a>

{{< blocks/section >}}
{{% blocks/feature icon=" fas fa-book" title="User Manual" url="/docs/userguide" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon=" fas fa-book" title="Examples" url="/docs/examples" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon=" fas fa-book" title="Forum" %}}
[Click here](https://forum.projectdissolve.com)
{{% /blocks/feature %}}
{{< /blocks/section >}}
