/*
 * Navbar
 */

.td-navbar .navbar-brand {
  svg {
    margin: 5px 10px;
    height: 35px;
  }
}

.navbar {
  background-color: $navbar-background-color;
}

/*
 * Labels
 */

.label {
  border-radius: 5px;
  display: inline-block;
  margin: 5px auto 5px 0;
  color: white;
  padding: 3px 25px 3px 25px;
  font-size: 14px;
}

.label-blue {
  background-color: #3176d9;
}

.label-red {
  background-color: red;
}

.label.label-yellow {
  background-color: #fff12c;
  color: black;
}

.label.label-since {
  background-color: #44e;
  color: white;
}

.label.label-deprecated {
  background-color: #e91;
  color: white;
}

.label.label-small {
  font-size: 10px;
  font-weight: bold;
  margin: 2px auto 2px 0;
  padding: 1px 10px 1px 10px;
}

/*
 * GUI Element Indicators
 */

.icon-text-container {
  display: inline-flex;
  flex-direction: row;
  gap: 5px;
}

.icon-text-container>img {
  aspect-ratio: 1 / 1;
}

// Tab
.gui-tab {
  border-radius: 2px;
  border: 1px solid #aebfcd;
  background-color: #eeefed;
  padding: 0.2em 0.4em;
  font-size: 85%;
  position: relative;
  line-height: 1.0;
}

.gui-tab>img {
  height: 0.8em;
}

// Button
.gui-button {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #aebfcd;
  background-color: #edefed;
  padding: 3px 10px 1px 25px;
  font-size: 85%;
  font-weight: bold;
  position: relative;
  margin: 2px 0 2px 0;
  line-height: 1.0;
}

.gui-button.gui-button-noicon {
  padding: 3px 10px 1px 10px;
}

.gui-button::before {
  content: ' ';
  width: 15px;
  height: 15px;
  left: 7px;
  top: 0px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 17px;
}

.gui-button::after {
  content: '';
}

// Icon
.gui-icon {
  display: inline-block;
  margin: 0 0 2px 3px;
  line-height: 17px;
  height: 17px;
  width: 25px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
}

// Module
.module-link {
  position: relative;
}

.module-link>img {
  height: 1.1em;
}

// Node
.node-link {
  padding-left: 0.2em;
  position: relative;
}

.node-link>img {
  height: 1.1em;
}

/*
 * Buttons
 */

// Left-aligned navigation button
.btn.left {
  border-radius: 5px;
  width: inherit;
  margin: 5px auto 5px 0;
  background-color: #3176d9;
  color: white;
  padding: auto;
}

// Right-aligned navigation button
.btn.right {
  border-radius: 5px;
  width: inherit;
  margin: 5px auto 5px 0;
  background-color: #3176d9;
  color: white;
  padding: auto;
  float: right;
}

.btn.left:hover,
.btn.right:hover {
  background: #1e53a0 linear-gradient(180deg, #3176d9, #1e53a0) repeat-x;
}

/*
 * Blockquote Basic Style
 */

blockquote {
  width: 60%;
  margin: 24px auto;
  color: #555555;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 1px;
  padding-right: 10px;
  border-left: 8px solid #ddd;
  line-height: 1.6;
  position: relative;
  background: #f9f9f9;
}

blockquote::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  color: #ddd;
  left: 15px;
  top: 12px;
  background-repeat: no-repeat;
}

blockquote::after {
  content: '';
}

//blockquote p strong {
//  padding: 0.05em 0.2em;
//  margin: 0;
//  background-color: rgba(0,0,0,0.05);
//  border-radius: 0.25rem;
//}

/*
 * Blockquote-Specific Stylings
 */

// Tip
blockquote.tip {
  border-left: 8px solid #78C0A8;
}

blockquote.tip::before {
  background-image: url(/img/block_tip.svg);
}

// Warning
blockquote.warn {
  border-left: 8px solid #fb9a49;
}

blockquote.warn::before {
  background-image: url(/img/block_warn.svg);
}

// Question
blockquote.question {
  border-left: 8px solid #329819;
}

blockquote.question::before {
  background-image: url(/img/block_question.svg);
}

// Action (Quote-style)
blockquote.actionquote {
  border-left: 8px solid #478cc6;
}

// Action (General)
blockquote.action {
  width: 85%;
  margin-bottom: 10px;
  border-left: 8px solid #478cc6;
}

blockquote.iconaction {
  width: 85%;
  margin-bottom: 10px;
  border-left: 8px solid #6947c6;
}

blockquote.step {
  width: 85%;
  margin-bottom: 10px;
  border-left: 16px solid #aebfcd;
}

blockquote.step::before {
  left: 5px;
  top: 10px;
  background-image: url(/img/action_general.svg);
}

// Action (Dissolve)
blockquote.action-menu {
  font-weight: bold;
  border-left: 8px solid #478cc6;
}

blockquote.action-dissolve::before {
  background-image: url(/img/action_dissolve.svg);
}

// Action (Tabs)
blockquote.action-tabs::before {
  left: 8px;
  top: 8px;
  background-image: url(/img/action_tabs.svg);
}

// Action (Groups)
blockquote.action-groups::before {
  left: 8px;
  top: 8px;
  background-image: url(/img/action_groups.svg);
}

// Action (Menu)
blockquote.action-menu {
  font-weight: bold;
}

blockquote.action-menu::before {
  left: 8px;
  background-image: url(/img/action_menu.svg);
}

// Action (Mouse)
blockquote.action-mouse::before {
  left: 10px;
  top: 8px;
  background-image: url(/img/action_mouse.svg);
}

// Action (Key)
blockquote.action-key {
  font-weight: bold;
}

blockquote.action-key::before {
  left: 10px;
  top: 8px;
  background-image: url(/img/action_key.svg);
}

// Action (Edit)
blockquote.action-edit::before {
  background-image: url(/img/action_edit.svg);
}

// Action (Settings)
blockquote.action-settings {}

blockquote.action-settings::before {
  background-image: url(/img/action_settings.svg);
}

// Tables
tr {
  border-bottom: 2px solid #ccd;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}

th {
  background-color: #2193af;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

table {
  margin-bottom: 25px;
}

.horizontal-headers tr th:empty {
  display: none;
}

.horizontal-headers td:first-child {
  background-color: $primary;
  color: #fff;
  font-weight: bold;
}

.horizontal-headers tr {
  border: 2px solid #ccd;
}

// Links
a {
  color: #454a8a;
}