+++
title = "Dissolve"
linkTitle = "Home"
+++

{{< blocks/cover title="Dissolve" image_anchor="top" height="min">}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "packages" >}}">
        Get Dissolve<i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/disorderedmaterials/dissolve">
        Github <i class="fab fa-github ml-2 "></i>
    </a>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="white" %}}
<h2>Structure Refinement for Scattering Data</h2>
<p>Dissolve is a simulation tool for the interrogation of scattering data, typically total neutron and/or x-ray scattering data. It builds on the techniques established in the Empirical Potential Structure Refinement (EPSR) method by Soper, using atomistic models to approximate experimental data and allow subsequent detailed analysis.</p>
<p>Dissolve is intended to be flexible and extensible in order to allow treatment of simple molecular liquids through to complex, heterogeneous systems containing a million atoms and beyond. Dissolve is functional and stable but is always evolving, undergoing continual development and improvement by Team Dissolve.</p>
<p>Source code for the project is <a href="https://github.com/disorderedmaterials/dissolve">available on GitHub</a>. If you find a bug, have a specific question, or want to submit a feature request then we encourage you to <a href="https://github.com/disorderedmaterials/dissolve/issues">submit an issue</a>.</p>
<br/>
<br/>
{{% /blocks/lead %}}


{{< blocks/section  color="white" >}}
{{% blocks/feature icon="fas fa-book" title="User Manual" url="https://docs.projectdissolve.com/" url_text="The Dissolve user guide" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-book-reader" title="Examples" url="https://docs.projectdissolve.com/examples/" url_text="Detailed tutorials and usage examples" %}}
{{% /blocks/feature %}}

{{< /blocks/section >}}
