name: Get Nix
description: Install and cache nix

inputs:
  target:
    default: "dissolve"

runs:
  using: "composite"
  steps:

  - name: Install Nix
    uses: cachix/install-nix-action@v25
    with:
      nix_path: nixpkgs=channel:nixos-unstable
      extra_nix_config: "system-features = nixos-test benchmark big-parallel kvm"

