trigger:
  branches:
    include:
    - develop
  paths:
    include:
    - src/*
    - ci/*
    - cmake/*
    - icon/*
    - tests/*
    - unit/*
    - CMakeLists.txt
    - conanfile.txt
    - .azure-pipelines/*
    - .clang-format
    - .cmake-format.json
    exclude:
    - .azure-pipelines/pr.yml
    - .azure-pipelines/release.yml
    - scripts/*

pr: none

stages:
  - template: templates/code-quality-checks.yml

  # Build and Package Executables
  - stage: 'build'
    displayName: 'Build'
    jobs:
      - template: templates/build-linux-releases.yml
      - job: 'osx'
        displayName: 'OSX, Threads, CLI/GUI'
        timeoutInMinutes: 120
        pool:
          vmImage: 'macos-latest' 
        steps:
          - checkout: self
            fetchDepth: 1
          - template: templates/set-short-hash.yml
          - template: templates/build-osx.yml
          - template: templates/package-osx.yml
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "packages/"
              ArtifactName: 'osx-artifacts'
            displayName: 'Publish OSX Artifacts'
      - job: 'windows'
        displayName: 'Windows, Threads, CLI/GUI'
        timeoutInMinutes: 120
        pool:
          vmImage: 'windows-latest' 
        steps:
          - checkout: self
            fetchDepth: 1
          - template: templates/set-short-hash.yml
          - template: templates/build-windows.yml
          - template: templates/package-windows.yml
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "packages/"
              ArtifactName: 'windows-artifacts'
            displayName: 'Publish Windows Artifacts'

  - template: templates/package-linux.yml

  # Deploy
  - stage: 'release'
    displayName: 'Create Release'
    jobs:
      - template: templates/create-release.yml
        parameters:
          continuous: true

