trigger: none

pr:
  autoCancel: true
  branches:
    include:
      - '*'
  paths:
    exclude:
    - examples/*
    - scripts/*
    - web/*
    - README.md
    - .azure-pipelines/continuous.yml
    - .azure-pipelines/release.yml

stages:
  - template: templates/code-quality-checks.yml

  # Build Executables
  - stage: 'build'
    displayName: 'Build'
    jobs:
      - job: 'linux_serialgui'
        displayName: 'Build Linux (Serial/GUI, ubuntu-latest)'
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - checkout: self
            fetchDepth: 1
          - template: templates/set-short-hash.yml
          - template: templates/build-linux-serial-gui.yml
            parameters:
              extraflags: '-DBUILD_TESTS:bool=true -DCMAKE_BUILD_TYPE=Debug'
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "build/"
              ArtifactName: 'linux-tests-serial'
            displayName: 'Publish Serial Test Artifacts'
      - job: 'linux_parallel'
        displayName: 'Build Linux (Parallel, ubuntu-latest)'
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - checkout: self
            fetchDepth: 1
          - template: templates/set-short-hash.yml
          - template: templates/build-linux-parallel.yml
            parameters:
              extraflags: '-DBUILD_TESTS:bool=true -DCMAKE_BUILD_TYPE=Debug'
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "build/"
              ArtifactName: 'linux-tests-parallel'
            displayName: 'Publish Parallel Test Artifacts'
      - job: 'osx_serialgui'
        displayName: 'Build OSX (Serial/GUI, macos-latest)'
        timeoutInMinutes: 120
        pool:
          vmImage: 'macos-latest'
        steps:
          - checkout: self
            fetchDepth: 1
          - template: templates/set-short-hash.yml
          - template: templates/build-osx-serial-gui.yml
          - template: templates/package-osx-serial-gui.yml
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "packages/"
              ArtifactName: 'osx-artifacts'
            displayName: 'Publish OSX Artifacts'
      - job: 'windows_serialgui'
        displayName: 'Build Windows (Serial/GUI, windows-latest)'
        timeoutInMinutes: 120
        pool:
          vmImage: 'windows-latest'
        steps:
          - checkout: self
            fetchDepth: 1
          - template: templates/set-short-hash.yml
          - template: templates/build-windows-serial-gui.yml
          - template: templates/package-windows-serial-gui.yml
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "packages/"
              ArtifactName: 'windows-artifacts'
            displayName: 'Publish Windows Artifacts'

  # Run System Tests
  - stage: 'system_tests_serial'
    displayName: 'System Tests (Serial)'
    jobs:
      - template: templates/system-tests.yml
  - stage: 'system_tests_parallel'
    displayName: 'System Tests (Parallel)'
    jobs:
      - template: templates/system-tests.yml
        parameters:
          parallel: true
